

html{
  scroll-behavior: smooth;
}
#head{
  background-image: url("/B10A1-Challenge-Begins/assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.header-content{
  text-align: center;
}

h1{
  font-weight: 800px;
  font-size: 40px
  color: black;
}
.contact{
  background-color: black;
 padding:10px 20px ;
}
.contact-with{
  color: white;
  text-decoration: none;
}
/* Main starts here? */
main{
  margin-top: 55px;
 
}
.development{
  background-color: rgb(245, 244, 238);
  text-align: center;
  width: 1280px;
  padding-top: 35px;
  margin-left: 115px;
  margin-right: 115px;
}
.hero{
  display: flex;
  gap: 200px;
  justify-content: center;
}
h3{
  font-size: 25px;
  font-weight: 600px;
}
.community{
  text-align: left;
}


.hero2{
  text-align: center;
  margin: left 115px; ;
  background-color: rgb(235, 228, 220);
}
.inspiration{
  text-align: center;
  font-size: 34px;
 
}
.ins-des{
  text-align: center;
}
.video{
margin-left: 255px;
justify-content: center;
border-radius: 5px;
}
iframe{border-radius: 11px;}

/* Trgets started here */
.targets{
  display: flex;
  gap: 22px;
  justify-content: stretch;
  margin-left: 235px;
  
}

.target-content{
  text-align: center;
 
}
.target1{
  background-color: rgb(235, 230, 224);
  width: 260px;
  height: 260px;
  border-radius: 15px;
 
}
.target2{
  background-color: rgb(226, 224, 235);
  width: 260px;
  height: 260px;
  border-radius: 15px;
}
.target3{
  background-color: rgb(190, 189, 187);
  width: 260px;
  height: 260px;
  border-radius: 15px;
}
.ht-img, .ht-cap{
  margin-top: 22px;
  margin-left: 22px;
}

}
.ht-des{
  margin-top: 16px;
  margin-left: 22px;
  padding-left: 22px;
}

.ht-btn{
  margin-top: 10px;
  margin-left: 22px;
  border: none;
}
/* footer starts here */
#support{
  background-image: url("/B10A1-Challenge-Begins/assets/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  width:1200px ;
  margin-left: 115px;
  border-radius: 15px;
}
.footer-content{
  margin-top: 45px;
  text-align: center;
  padding-top: 45px;
}
input{
  padding: 10px 80px 10px 10px;
}
.ft-btn{
  padding: 10px;
}
.feedback{
  text-decoration: none;
}
.end{
  display: flex;
  justify-content: space-between;
  margin-left: 155px;
  margin-top: 70px; ;
}
.media{
  justify-content: end;
}
.commitment{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 22px;
  color:black;
}
/* the end */