
.head{
  background-image: url("/B10A1-Challenge-Begins/assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.header-content{
  text-align: center;
}

h1{
  font-weight: 800px;
  font-size: 40px
  color: black;
}
.contact{
  background-color: black;
 padding:10px 20px ;
}
.contact-with{
  color: white;
  text-decoration: none;
}
/* Main starts here? */
main{
  margin-top: 55px;
 
}
.development{
  background-color: rgb(245, 244, 238);
  text-align: center;
  width: 1280px;
  padding-top: 35px;
}
.hero{
  display: flex;
  gap: 200px;
  justify-content: center;
}
h3{
  font-size: 25px;
  font-weight: 600px;
}
.community{
  text-align: left;
}
